# Stacks RPC
NEXT_PUBLIC_STACKS_API=https://api.mainnet.hiro.so

# Contract Addresses (Mainnet)
NEXT_PUBLIC_CONTRACT_ADDRESS=SPI3A565RA

# WalletConnect
NEXT_PUBLIC_WC_PROJECT_ID=your_project_id

# Last updated: 2026-07-30T00:01:09.492Z