# Stacks RPC
NEXT_PUBLIC_STACKS_API=https://api.mainnet.hiro.so

# Contract Addresses (Mainnet)
NEXT_PUBLIC_CONTRACT_ADDRESS=SPHG6M0246

# WalletConnect
NEXT_PUBLIC_WC_PROJECT_ID=your_project_id

# Last updated: 2026-08-03T00:22:51.238Z