# Stacks RPC
NEXT_PUBLIC_STACKS_API=https://api.mainnet.hiro.so

# Contract Addresses (Mainnet)
NEXT_PUBLIC_CONTRACT_ADDRESS=SPZUNO2RMB

# WalletConnect
NEXT_PUBLIC_WC_PROJECT_ID=your_project_id

# Last updated: 2026-07-24T08:55:55.514Z