# Stacks Network Configuration
# Set to 'testnet' or 'mainnet'
NEXT_PUBLIC_NETWORK=testnet

# Contract Details (Update after deployment)
NEXT_PUBLIC_TESTNET_CONTRACT=ST1TN1ERKXEM2H9TKKWGPGZVNVNEKS92M7MAMP23P
NEXT_PUBLIC_MAINNET_CONTRACT=SP1TN1ERKXEM2H9TKKWGPGZVNVNEKS92M7MAMP23P

# Security
CHAINHOOK_SECRET=secret-token
